<div class="p-1 md:mt-6 mt-2">
  <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:gap-4 md:px-4 px-1 md:py-2 py-1">

    <% @projects.each do |project| %>
      <%= render 'card', project: project %>
    <% end %>

  </div>
</div>
