<% if user_signed_in? %>
  <div class="sidebar-wrapper static w-48 mr-14 md:block hidden">
  <div class="w-48 fixed bg-gray-800 shadow h-full flex-col justify-between hidden md:flex">
    <div class="px-8">
      <div class="h-12 w-full flex items-center text-gray-300">
        Projects
      </div>
      <hr>
      <ul class="my-6">
        <%= render partial: 'projects/label', collection: current_user.projects %>
      </ul>
      <hr>
      <div class="h-12 w-full flex items-center text-gray-300">
        <%= link_to 'New Project', new_project_path %>
      </div>
    </div>
  </div>
  </div>
<% end %>